<h2 style = "text-align:center">Welcome To KLM Airports Search</h2>
<b>Please enter a term and hit search button to see query result for airports matching the term. Note that you can
navigate through pages with the buttons provided underneath the table. Enjoy! (By the way you can use name sorting
option with the checbox provided, is not that cool?)</b>
<hr>
<div class="row" style="margin-left:15px; margin-right: 15px">
    <div class="col-xs-3">
        Search Term:
    </div>
    <div class="col-xs-3">
        {{input value=term}}
    </div>
</div>
<br>
<div class="row" style="margin-left:15px; margin-right: 15px">
    <div class="col-xs-3">
        Name Sorting:
    </div>
    <div class="col-xs-3">
      {{input type="checkbox" checked=sortingEnabled}}
    </div>
</div>
<br>
<div class="row" style="margin-left:15px; margin-right: 15px">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-3">
        <button {{action 'search'}}>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search Airport
        </button>
    </div>
</div>

<hr>
{{#data-paginator currentPage=page paginatedData=data pageSize=pageSize dataRequested=(action "dataRequested") as |p|}}
  {{#data-table data=p.data selectionMode='none'
  selectionChanged=(action 'selectionChanged') classNames=tableClassNames as |t|}}
    {{t.column propertyName='name' name='Name'}}
    {{t.column propertyName='code' name='Code'}}
  {{/data-table}}
  {{pager-component next=p.next previous=p.previous currentPage=p.currentPage nextDisabled=(if p.hasNext false true)}}
{{/data-paginator}}