<div style="margin-left: 15px">
    <h2 style = "text-align:center">Welcome To KLM Airport Fare Service</h2>
    <b>Please choose origin and destination aiports in order and submit to see the price. (You can change currency and
    language setting.)</b>
    <hr>
    <div class="row" style="margin-left:15px; margin-right: 15px">
        <div class="col-xs-4">
          {{#power-select
            placeholder="Origin"
            search=(perform searchAirport)
            selected=origin
            onchange=(action (mut origin))
            as |airport|}}
            {{airport.name}} - ({{airport.code}})
          {{/power-select}}
        </div>
        <div class="col-xs-4">
          {{#power-select
            placeholder="Destination"
            search=(perform searchAirport)
            selected=destination
            onchange=(action (mut destination))
            as |airport|}}
            {{airport.name}} - ({{airport.code}})
          {{/power-select}}
        </div>
        <div class="col-xs-2">
          {{#power-select
            selected=currency
            onchange=(action (mut currency))
            options=currencies
            as |currency|}}
            {{currency}}
          {{/power-select}}
        </div>
        <div class="col-xs-2">
          {{#power-select
            selected=lang
            onchange=(action (mut lang))
            options=langs
            as |currency|}}
            {{currency}}
          {{/power-select}}
        </div>
    </div>
    <hr>
    <button {{action 'getPrice'}} disabled={{buttonDisabled}}>
        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Search Price
    </button>
    <hr>
    {{#if isLoading}}
      Loading, please wait!
    {{else}}
      {{#if fareInfoExists}}
        <b>Your last price check information is as follows:</b>
        <br>
        <b>Origin:</b> {{fareInfo.origin.name}} - ({{fareInfo.origin.code}}), {{fareInfo.origin.description}}
        <br>
        <b>Destination:</b> {{fareInfo.destination.name}} - ({{fareInfo.destination.code}}), {{fareInfo.destination.description}}
        <br>
        <b>Price:</b> {{fareInfo.amount}} {{fareInfo.currency}}
      {{/if}}
    {{/if}}
</div>
