<div style="margin-left: 15px">
    <h2 style = "text-align:center">Welcome To KLM Airport Server Statistics Service</h2>
    <b>You can refresh the statistics by clicking on the button.</b>
    <hr>
    <button {{action 'refresh'}}>
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
    </button>

  <hr>
  <b>Server statistics is as follows:</b>
  <br>
  <b>Total Request Count:</b> {{statisticsDto.totalRequestCount}}
  <br>
  <b>Success Response Count:</b> {{statisticsDto.successResponseCount}}
  <br>
  <b>4xx Response Count:</b> {{statisticsDto.clientErrorResponseCount}}
  <br>
  <b>5xx Response Count:</b> {{statisticsDto.serverErrorResponseCount}}
  <br>
  <b>Avg. Response Time (nanaseconds):</b> {{statisticsDto.avgResponseTime}}
  <br>
  <b>Max Response Time (nanaseconds):</b> {{statisticsDto.maxResponseTime}}
  <br>
  <b>Min Response Time (nanaseconds):</b> {{statisticsDto.minResponseTime}}
</div>
