{{outlet}}
<hr>
<div class="row" style="margin-left:15px; margin-right: 15px">
    <div class="col-xs-2">
      {{#link-to "klmfare"}}KLM Fare Service{{/link-to}}
    </div>
    <div class="col-xs-2">
      {{#link-to "statistics"}}Statistics Service{{/link-to}}
    </div>
    <div class="col-xs-2">
      {{#link-to "airports"}}KLM Airports Search{{/link-to}}
    </div>
</div>
